.span-label{
   font-size: 1.5em!important;
}

.div-route-details {

 margin: 10%!important;
 padding-top: 5%!important;
 
}
.span-value{
 font-weight: bold !important;
  font-size: 1.5em!important;
}